body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    margin: 0 auto;
    width: 670px;
    border: 5px solid green;
    padding: 0 2em 1em;
    border-radius: 40px;
    background: rgb(200; 200; 200);
}
main{
    padding: 0 .25em;
    margin: 0 .25em;
    background: rgb(159,230,160);
    background-image: linear-gradient (to bottom-right green, white);
    border: 0.5px groove rgb(120,20,200);
    border-radius: 20px;
}
fieldset{
    margin-bottom: 20px;
}

legend {
    text-decoration: underline;
}
h1{
    color: blue;
    margin-bottom: .5em;
}
label{
    float: left;
    width: 11em;
    text-align: right;
}
input{
    margin-left: 1em;
    margin-bottom: .5em;
}
input[text]{
    border-style: groove;
}
span{
    color: red;
}
/*
 *first_name_error {
    color: green;
 }
 */
.green{
    color: green;
}
.blue{
    color: blue;
}
.big {
    font-size: 300%;+
}
.bottom_of_group{
    margin-bottom: 2em;   
}
.backimage{
    height: 40px;
    width: 40px;
    margin-top: 2em;
    margin-bottom: 2em;
}
.input_button {
    border-radius: 20px;
    background: rgb(227; 213; 28);
    background-image: linear-gradient(to bottom left, yellow, yellow);
    padding: 2px;
    width: 60px;
    height: 60px;
}
.input_button:hover{
    background: rgb(227; 213; 28);
}
footer{
    color: yellow;
}


